.MainSection {
    display: flex;
    flex-direction: column;
    padding: 0px 135px 0px 135px;
}

.MainSection h1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

.SectionOne {
    display: flex;
    flex-direction: column;

}

.FirstRow {
    width: 20px;
    height: 40px;
    background: #DB4444;
    border-radius: 4px;
    margin-bottom: 24px;

}

.FirstRow p {
    font-family: "Poppins",
        sans-serif;
    font-size: 16px;
    margin-left: 40px;
    color: #DB4444;

}

.SecondRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 60px;
}

.DoubleArrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
    top: -10;
    gap: 25px;
}

.ArrowGap {
    display: flex;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 30px;
}

.ArrowGap button {
    border: none;
}

.ProductSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.Product {
    position: relative;
    text-align: left;
}

.ProductImage {
    width: 347px;
    height: 321px;
}

.Product h1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 12px;
}

.Product i {
    color: #FFAD33;
}

.Product p {
    font-family: "Poppins", sans-serif;
    color: #DB4444;
    margin: 6px 0;
}

.SideTxt {
    font-family: "Poppins", sans-serif;
    color: #7D8184;
}

.ProductsButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductsButton button {
    margin: 60px 0;
    padding: 16px 48px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #DB4444;
    color: #F5F5F5;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.ProductsButton button:hover {
    opacity: 70%;
}


.ProductSection::-webkit-scrollbar {
    display: none;
}

.Product {
    display: flexbox;
    position: relative;
}


.ExtraItems {
    position: absolute;
    top: 22px;
    right: 125px;
}

.Product h1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.Product i {
    color: #FFAD33;
}

.Product p {
    font-family: "Poppins", sans-serif;
    color: #DB4444;
}

.SideTxt {
    font-family: "Poppins", sans-serif;
    color: #7D8184;
}

.ProductsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 140px;
}

.ProductsButton button {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 16px 48px 16px 48px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #DB4444;
    color: #F5F5F5;
    border-radius: 4px;
    border: none;
}













@media (min-width: 320px) and (max-width: 600px) {


    .MainSection {
        padding: 0px 10px 0px 10px;
    }

    .MainSection h1 {
        font-size: 16px;
    }

    .FirstRow {
        width: 5px;
        height: 10px;
        border-radius: 2px;
        margin-bottom: 4px;

    }

    .FirstRow p {
        font-size: 6px;
        margin-left: 10px;
    }

    .SecondRow {
        margin-bottom: 10px;
    }

    .DoubleArrow {
        top: -10;
        gap: 5px;
    }

    .ArrowGap {
        padding: 3px;
    }

    .ProductSection {
        gap: 8px;
    }

    .ProductImage {
        width: 77px;
        height: 87px;
    }

    .Product h1 {
        font-size: 6px;
        margin-top: 0px;
    }

    .Product i {
        font-size: 4px;
    }

    .Product p {
        font-size: 5px;
        margin-top: 2px;
        margin-bottom: -6px;
    }

    .SideTxt {
        font-size: 5px;
    }

    .ProductSection::-webkit-scrollbar {
        display: none;
    }

    .ProductsButton {
        margin-bottom: 20px;
    }

    .ProductsButton button {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 6px 18px 6px 18px;
        font-size: 6px;
    }


}


@media (min-width: 601px) and (max-width: 900px) {

    .MainSection {
        padding: 0px 55px 0px 55px;
    }

    .MainSection h1 {
        font-size: 16px;
    }


    .FirstRow {
        width: 10px;
        height: 20px;
        margin-bottom: 5px;

    }

    .FirstRow p {
        font-size: 7px;
        margin-left: 20px;
    }

    .SecondRow {
        margin-bottom: 20px;
    }


    .DoubleArrow {
        right: -10px;
        top: -10;
        gap: 8px;
    }

    .ArrowGap {
        padding: 5px;
        border-radius: 60px;
    }

    .ProductSection {
        gap: 18px;

    }


    .ProductImage {
        width: 137px;
        height: 117px;
    }

    .Product h1 {
        font-size: 8px;
    }

    .Product i {
        font-size: 8px;
    }

    .Product p {
        font-size: 10px;
        margin-top: 1px;
        margin-bottom: -6px;
    }

    .ProductsButton {
        margin-bottom: 20px;
    }

    .ProductsButton button {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 6px 18px 6px 18px;
        font-size: 6px;
    }

}

@media (min-width: 901px) and (max-width: 1300px) {
    .MainSection {
        padding: 0px 35px 0px 35px;
    }

    .ProductSection {
        gap: 18px;

    }

    .ProductImage {
        width: 180px;
        height: 167px;
    }

    .Product h1 {
        font-size: 11px;
    }

    .Product i {
        font-size: 12px;
    }

    .Product p {
        font-size: 15px;
        margin-top: 1px;
        margin-bottom: 5px;
    }

    .SideTxt {
        font-size: 8px;
    }

    .ProductsButton {
        margin-bottom: 20px;
    }


}