.MainSection {
    display: flexbox;
    padding: 80px 135px 0px 135px;

}

.SectionOne {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-bottom: 80px;
}



.SectionOne li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.SectionOne li a:hover {
    color: #b90000;
}

.SectionTwo {
    display: flex;
    margin-bottom: 160px;
    gap: 127px;

}

.Sideheading {
    display: flex;
    flex-direction: column;


}

.Sideheading h1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    margin-bottom: -6px;
}

.Sideheading ul li {
    font-family: "Poppins", sans-serif;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    margin-top: 8px;
    transition: color 0.3s;
}


.Sideheading ul li:hover {
    color: #b90000;
}







































.RightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 457px;
    border-radius: 8px;
    margin-top: 120px;

}

.MainHeading {
    font-family: "Poppins", sans-serif;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    margin-top: 8px;
    transition: color 0.3s;
}

.MainHeading:hover {
    color: #b90000;
}


.SectionHeading {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
}

.Row {
    display: flex;
    gap: 50px;
    margin-bottom: 24px;
}

.SingleRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.InputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Label {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
}

input {
    background-color: #F5F5F5;
    border: hidden;
    width: 330px;
    height: 50px;
    font-size: 5px;
    border-radius: 8px;
}

inputone {
    background-color: #F5F5F5;
    border: hidden;
    width: 770px;
    height: 50px;
    font-size: 5px;
    border-radius: 8px;
}

.ButtonSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;

}

.SubmitButton {
    width: 215px;
    height: 56px;
    padding: 12px;
    background-color: #b90000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.SubmitButton:hover {
    background-color: #b90000;
}




@media(min-width: 320px) and (max-width: 600px) {
    .MainSection {
        padding: 10px 10px 100px 10px;
    }

    .SectionTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Row {
        display: flex;
        flex-direction: column;
    }

    .RightSide {
        width: 300px;
    }

}

@media(min-width: 601px) and (max-width: 900px) {
    .MainSection {
        padding: 10px 55px 100px 55px;
    }

    .SectionTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Row {
        display: flex;
        flex-direction: column;
    }
}


@media(min-width: 901px) and (max-width: 1300px) {
    .MainSection {
        padding: 10px 35px 100px 35px;
    }

    .Row {
        display: flex;
        flex-direction: column;
    }

    .RightSide {
        margin-top: 200px;
    }
}